@model EventosWeb.Models.Cotizacion

@{
    ViewData["Title"] = "Create";
}

<h2>Solicitar Cotización</h2>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Necesidad" class="control-label"></label>
                <input asp-for="Necesidad" class="form-control" />
                <span asp-validation-for="Necesidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />   
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuando" class="control-label"></label>
                <input asp-for="Cuando" class="form-control" />
                <span asp-validation-for="Cuando" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NDeInvitados" class="control-label"></label>
                <input asp-for="NDeInvitados" class="form-control" />
                <span asp-validation-for="NDeInvitados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
